🚀 **КОРАБЛЬ СОБРАН!**

🆔 **ID события:** `{{.EventUuid}}`
📦 **ID заказа:** `{{.OrderUuid}}`
👤 **ID пользователя:** `{{.UserUuid}}`
⏱️ **Время сборки:** `{{.BuildTimeSec}} сек`

📅 **Дата сборки:** `{{now.Format "2006-01-02 15:04:05"}}`
